firmware-cc1110-lime2-remote/ide/settings/*.dnx
firmware-cc1110-lime2-remote/ide/settings/*.dbgdt
firmware-cc1110-lime2-remote/ide/settings/*.dnx
firmware-cc1110-lime2-remote/ide/LIME2/Obj/*
firmware-cc1110-lime2-remote/ide/REMOTE/Obj/*
firmware-cc1110-lime2-remote/ide/*.log
*.dnx
*.dbgdt
*.ps1
*.xcl
*.bat
